<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleNavbar.css">
    <title>Krs Mahasiswa</title>
</head>

<body>
    <%- include('_partialNavbar') %>
    <center>
        <h1>Daftar Mahasiswa</h1>
        
        <div id="div1">

        <table border=1>
            <tr>
                <th>Nama</th>
                <th>Nim</th>    
                <th>Alamat</th> 
                <th>Jurusan</th>
            </tr>

            <% for(let i=0; i<matakuliah.Mahasiswas.length; i++){ %>
            <tr>
                <td><%= matakuliah.Mahasiswas[i].nama %></td>   
                <td><%= matakuliah.Mahasiswas[i].nim %></td>
                <td><%= matakuliah.Mahasiswas[i].alamatUpper %></td>
                <td><%= matakuliah.Mahasiswas[i].jurusanCode %></td>
            </tr>
            <% } %>

        </table>
                    
    </div>
    </center>
</body>

</html>